<div class="card"> 
<h1> My Profile </h1>
<h2> Name: <%= current_user.first_name %> <%= current_user.last_name %> </h2>
<h2> Phone Number: <%= current_user.phone_number %> </h2>
 
  
  <ul>
    <li><%= link_to "Edit Profile", edit_profile_path(current_user), class: 'profile-button' %></li>
  </ul>

</div>
