
<h1>Programs</h1>

<!-- Programs Section -->


<section>
<!-- Al-Mustaqbal Academy -->
<article id="al-mustaqbal-academy", class="program-card">
  <h3>Al-Mustaqbal Academy</h3>
  <p>Academic program for children ages 5-12. The House of Scholars program...</p>
  <!-- Additional details... -->
</article>

<!-- Jewels -->
<article id="jewels", class="program-card">
  <h3>Jewels</h3>
  <p>Mentoring girls k-2nd. The Jewels is our mentoring program...</p>
  <!-- Additional details... -->
</article>

<!-- Charms -->
<article id="charms", class="program-card">
  <h3>Charms</h3>
  <p>Mentoring girls 3rd-5th grade. Charms is our mentoring program...</p>
  <!-- Additional details... -->
</article>

<!-- Explorers -->
<article id="explorers", class="program-card" >
  <h3>Explorers</h3>
  <p>Mentoring boys 3rd-5th grade. The Explorers is our mentoring program...</p>
  <!-- Additional details... -->
</article>

<!-- Pearls -->
<article id="pearls", class="program-card">
  <h3>Pearls</h3>
  <p>Mentoring girls 6th-8th grade. The Pearls was designed for girls...</p>
  <!-- Additional details... -->
</article>

<!-- Frontiers -->
<article id="frontiers", class="program-card">
  <h3>Frontiers</h3>
  <p>Mentoring boys 6th-10th grade. The Frontiers program is our mentoring program...</p>
  <!-- Additional details... -->
</article>

<!-- Diamonds -->
<article id="diamonds", class="program-card">
  <h3>Diamonds</h3>
  <p>Mentoring young ladies 9th grade-freshman college. The Diamond’s program...</p>
  <!-- Additional details... -->
</article>
</section>



