
<!-- app/views/programs/index.html.erb -->
<h1 class= "programsTitle">Programs</h1>

<!-- Programs Section -->


<h1 class= "programsTitle">Programs</h1>


<section>

  <% @programs.each do |program| %>
    <article id="<%= program.name.parameterize %>" class="program-card">
    <h3><%= program.name %></h3>
    <p>Age Group: <%= program.age_group %></p>
      <p><%= program.description %></p>
      <!-- You can add more program details here if needed -->
    </article>
  <% end %>
  
<!-- Al-Mustaqbal Academy -->
<article id="al-mustaqbal-academy", class="program-card">
  <h3>Al-Mustaqbal Academy</h3>
  <p>The House of Scholars program is our academic program dedicated to nurturing spiritual growth and developing God consciousness. We provide instruction in: Islamic studies, Quran/Noorania, Hadith and Islamic studies. We also offer fun activities and both in-house and off campus field trips. The House Scholars program is open to both boys and girls ages 5-12 and is held on Saturdays from 10:00 am – 2:30 pm..</p>
  <p><strong>Age Group:</strong> 5-12</p>
  <p><strong>Class Timing:</strong> Saturdays, 10:00 am – 2:30 pm</p>
  <a href="#registration-link" class="register-button">Register Now</a>
  <img src= "climb.jpg" alt "al_mustaqbal_academy.jpg">
  </article>

<article id="jewels", class="program-card">
  <h3>Jewels</h3>
  <p>The Jewels is our mentoring program for girls In Kindergarten-2nd grade. This program is designed to plant the seeds of love for Islam, our Prophet PBUH and the Sahaba. The classes are set up in a way to keep the youngsters engaged and entertained. Each class starts with circle time covering the theme topics, a short story followed by games and arts crafts activities. The class also goes on excursions that match the theme as well as field trips.</p>
  <p><strong>Age Group:</strong> Kindergarten - 2nd grade</p>
  <a href="#registration-link" class="register-button">Register Now</a>
</article>


<article id="charms", class="program-card">
  <h3>Charms</h3>
  <p>Charms is our mentoring program for girls in 3rd-5th grade. The Charms annual theme varies and covers everything from the 99 names of Allah, Heroes and Sheroes in Islam and more. The Charms also have leaders from the community visit our class to inspire our girls. It is during this age group that volunteering and giving back are introduced and exemplified through various challenges and acts of service. The girls are also treated to socials with their Fathers and Father figures at Donuts with Dad and an opportunity to serve their mothers at the annual Tea Time. The girls also attend various field trips throughout the year.
  </p><p><strong>Age Group:</strong> 3rd - 5th grade</p>
  <a href="#registration-link" class="register-button">Register Now</a>
</article>

<article id="explorers", class="program-card" >
  <h3>Explorers</h3>
  <p>The Explorers is our mentoring program for boys in 3rd-5th grade. This program mirrors the Charms program in that it also has an annual theme that varies and covers everything from the 99 names of Allah, Heroes and Sheroes in Islam and more. The Explorers also have leaders from the community visit our class to inspire our boys. The Explorers also collaborate with the Charms in acts of service including our annual Sandwich project and Dental kits drive. The boys are also given opportunities to cater to their mothers during the annual Muffins with Mom. They also participate in our annual March Madness where they have a basketball tournament between fathers and sons one week then attend a Timberwolves game the next.</p>
  <p><strong>Age Group:</strong> 3rd - 5th grade</p>
  <a href="#registration-link" class="register-button">Register Now</a>
  </article>


<article id="pearls", class="program-card">
  <h3>Pearls</h3>
  <p>The Pearls was designed for girls going through what is arguably the most challenging part of growing up: 6th-8th grade aka Middle School. Still growing into their own ever-changing body while desperately trying to figure out just who they are; it’s both a scary and confusing time. We’ve designed this program to be a weekly refuge from it all. Every week, we start off with a weekly recap where we encourage the girls to share things that happened to them during the week, both happy and sad. The other girls then congratulate, condole, or advise based on their own experiences. Next we have an interactive halaqa involving our annual theme. After a quick social snack break we wrap up with a fun engaging activity. This is also the year girls get to participate in the anticipated Pearls Ball. The Pearls ball is our alternative to the prom. An elegant evening for the girls to dress up and enjoy an evening of food, fun and festivities!</p>
  <p><strong>Age Group:</strong> 6th - 8th grade</p>
  <a href="#registration-link" class="register-button">Register Now</a>
  </article>


<article id="frontiers", class="program-card">
  <h3>Frontiers</h3>
  <p>The Frontiers program is our  mentoring program that serves boys in 6th-10th grades.  Program elements include bi-weekly halaqas followed by physical activity like football or basketball.  Team sports is an important program component that deepens the connection between boys and instills discipline. The boys also attend  workshops and Islamic conventions together. The mentors model integrity, accountability, compassion and respect.  They help our boys by  empowering them to speak their truth and encourage them to take responsibility for their choices.
  </p>
  <p><strong>Age Group:</strong> 6th - 10th grade</p>
  <a href="#registration-link" class="register-button">Register Now</a>
</article>


<article id="diamonds", class="program-card">
  <h3>Diamonds</h3>
  <p>The Diamond’s program is the oldest program at the Pearls of Hope center and caters to young ladies 9th grade to Freshman in college. Classes and workshops have been running since 2009. The classes are designed to help our young ladies become strong, confident members of our community. The classes offer open discussions that allow the young ladies to speak about challenges they face in high school and beyond and receive affirmations and feedback from their mentors and peers. The Diamonds also have presentations that they’ve planned as a part curriculum that help sharpen organization, teamwork and public speaking skills. The Diamonds also help plan and organize events to prepare them for the role of mentor after graduation.</p>
  <p><strong>Age Group:</strong> 9th - 12th grade</p>
  <a href="#registration-link" class="register-button">Register Now</a>
  </article>

  
<article id="climb", class="program-card">
  <h3>Climb</h3>
  <p>CLiMB is Pearls of Hope’s fitness, health and wellness class for women and girls 14 and
  up. Dr. Laila Akhter provides nutrition, exercise and wellness support in order to achieve
  and maintain a healthy weight. Exercise classes are entirely online via Google Meets
  and offered 5 times per week. Each semester has a theme and guest speakers to keep
  the program is informative and fun. Sisters in the class bond over the WhatsApp group by
  doing challenges for prizes and supporting each other’s efforts.
  </p>
  <p><strong>Age Group:</strong>  Ladies 14 and Up</p>
  <a href="#registration-link" class="register-button">Register Now</a>
  </article>

  
<article id="Summer Camp", class="program-card">
  <h3>Summer Camp</h3>
  <p>Our Summer camp is a summer favorite for kids ages 5-12 and combines education and fun under the sun! Camp is held Mon – Fri 10 am-2 pm and runs for five weeks. We cover Quran/Noorania, Islamic Studies and Hadith. We also offer arts and crafts that are in line with the theme. Each Friday, the kids embark on a fun educational field trip. Boys 12 and up are trained to not only call the adhan and lead salah, but to also prepare and deliver the Jummah sermon.
  </p>
  <p><strong>Age Group:</strong> 5th - 12th grade</p>
  <a href="#registration-link" class="register-button">Register Now</a>
  </article>


</section>
