<!-- app/views/successful/index.html.erb -->
<div class= "pay-success-cont">
<h1 class= "payment-success">Payment Successful</h1>
    
<p class= "pay-success-txt">Your payment was successful. Thank you for your payment!</p>
<div class = "success-redirect-btn">

<p><%= link_to 'Dashboard', dashboard_path %></p>
</div>
</div>
