<h1>Welcome to Pearls of Hope!</h1>
<p>This is the home page content</p>

<!-- about.html.erb -->

<% about_page_content = fetch_text_content_body_by_title('about page title ') %>
<div><%= about_page_content.presence || "Content not found." %></div>


