<main>
<!-- Welcome Section -->
<section id="welcome">
  <h1>Welcome to Pearls</h1>
  <p>Mentoring the Leaders of Tomorrow!</p>
</section>

<!-- About Us Section -->
<section id="about">
  <h2>About Us</h2>
  <p class="textContent">
  <%= fetch_text_content_body_by_title("About Us Paragraph") %>
  </p>

  </p>
  <!-- Remaining content... -->
</section>
</main>

<!-- Social media embeded section -->

<div class="social-media-content">
  <%= raw fetch_social_media_embed_by_title("SocMedia#1") %>
  <%= raw fetch_social_media_embed_by_title("SocMedia#2") %>
  <%= raw fetch_social_media_embed_by_title("SocMedia#3") %>
</div>



