

<h1 class="enroll-heading">Enroll in <%= @program.name %></h1>

<% if current_user.students.any? %>
  <div class="student">
    <button><p><%= link_to "Add an existing student", new_enrollment_path(program_id: @program.id, existing_student: true) %></p></button>
  
  <h4>OR</h3>
  
    <button><p><%= link_to "Create a new student", new_student_path %></p></button>
  </div>
<% else %>
  <div class="student">
    <%= link_to "Create a new student", new_student_path %>
  </div>
<% end %>
