
<h1>Shopping cart</h1>
    <% @cart.each do |product| %>
      <%= product.product_name %>
        <%= product.price %>
    <br>
    <% end %>

    <%= render partial: 'pay/stripe/checkout_button', locals:{session: @checkout_session, title:"CHECKOUT"}%>


    

