<%# app/views/dashboards/_default_dashboard.html.erb %>
<div class= "default-dash-container">
<div class="default-dashboard">
  <!-- Sidebar Navigation -->
  <div class="sidebar">
    <div class="welcomeUser" >Welcome, <%= user.first_name.capitalize %>!</div>
    <div class='profile-link'>
      <%= link_to 'Profile', class: 'sidebar-link' %>
    </div>
  </div>
  <!-- Main Content -->
  <div class="default-main-content">
    <h2 class= "dashboard-title">Dashboard</h2>
    <div class="default-dash-programs">
    <h3>My Students</h3>
    <ul>
      <% @students.each do |student| %>
        <li>
          <%= link_to student.full_name, student_path(student) %>
          <p id="display-enrollment">
            Enrolled in: <%= display_enrolled_programs(student) %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
  </div>