<div class="banner">
  <img src="assets/climb.jpg" style="width: 100%; height: 400px; object-fit: cover;">
</div>
<br>
<br>

<div class="box" style="display: flex; align-items: center;">
  <div class="text">
    <h3 style="text-align: center;">About Us</h3>
    <p>Pearls of Hope was established in late 2009 by our Founder, sister Danyal Masoud. Danyal grew up in Chicago where , like many young Muslims, she faced many challenges and struggles. She started Pearls of Hope to provide a safe space for youth facing a lot of the same struggles she did growing up. She wanted to be the mentor she would have wanted and needed at their age. So Pearls of Hope was born in the basement of a masjid here in the Twin cities with one class of fifteen girls. The girls who joined the program were given the space to navigate feelings of insecurity and isolation that they often feel in our society. In sister Danyal, the girls found a loving mentor who would listen, counsel and support them unconditionally. They participated in circles of halaqa where they were given the tools to build a solid muslim identity in a an inspiring, engaging and fun environment. On March 30, 2015, Pearls of Hope Community Center was Incorporated. Through its impact, Pearls of Hope grew to offer guidance and support to over 200 youth across 7 programs. </p>
  </div>
  <div class="image-container">
    <img src="assets/family.jpg">
  </div>
</div>

<div class="box" style="display: flex; align-items: center;">
  <div class="image-container2">
    <img src="assets/mission.png" >
  </div>
  <div class="text">
    <h3 style="text-align: center;">Our Mission</h3>
    <p>Our mission is to mentor the leaders of tomorrow using religious education as our foundation and inspiring the use of knowledge into action</p>
  </div>
</div>

<br>

<div class="box" style="display: flex; align-items: center;">
  <div class="text">
    <h3 style="text-align: center;">Our Vision</h3>
    <p>That youth who come through our program leave a more knowledgeable Muslim and a more confident, compassionate, contributing citizen of our community.</p>
  </div>
  <div class="image-container">
    <img src="assets/value.jpg">
  </div>
</div>

<br>
<br>

<section id="newsletter-signup">
  <div class="newsletter-box">
    <h2>Sign Up for Our Newsletter</h2>
    <%= form_with(url: '/subscribe', method: 'post') do |f| %>
      <div class="form-group">
        <div class="input-wrapper">
          <input type="text" placeholder="First Name">
          <input type="text" placeholder="Last Name">
          <input type="text" placeholder="Email">
        <%= f.submit 'Sign Up', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</section>