<div>
  <img src="assets/about.jpg" style="width: 100%; height: 200px">
</div>
<br>
<br>

<div style="display: flex; align-items: center;">
  <div class="text">
    <h3 style="text-align: center;">About Us</h3>
    <p>Nullam ut ipsum eget justo suscipit bibendum id a nibh. Phasellus at pellentesque quam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec vel posuere orci, bibendum rhoncus turpis. Vestibulum non ipsum eros. Phasellus placerat lacus a massa congue, eu tempus orci facilisis. Nam bibendum libero ut sem consequat bibendum pharetra nec orci. Aliquam finibus, orci et egestas ultrices, diam mi imperdiet mi, sit amet volutpat diam dolor non odio. Pellentesque rhoncus purus diam, sed ullamcorper urna sagittis et. Vivamus viverra sed felis imperdiet commodo. Nullam et pretium urna. Duis at lobortis risus, sed egestas ex. In ullamcorper tellus lobortis quam tristique efficitur. Donec eget nunc eu eros tempor viverra vel at velit.

    Ut placerat justo sed ante convallis tincidunt. Mauris sit amet neque eget velit maximus eleifend quis id eros. Suspendisse egestas placerat libero sed consequat. Nam vitae sapien consectetur, pulvinar lacus placerat, mattis dolor. Donec rutrum, leo sed lacinia volutpat, tortor sapien rutrum tellus, sit amet pulvinar leo sapien non dui. Nulla pharetra, velit ut mattis auctor, augue dolor interdum leo, id tincidunt odio orci sed sem. Ut arcu dolor, mattis id libero id, blandit iaculis nisi. Sed interdum tincidunt porta. Pellentesque ac elementum sem, ut scelerisque sem. Vivamus at lacus sed justo bibendum sodales eu sed tellus. Fusce sit amet efficitur dolor. Vestibulum a odio ac massa laoreet consectetur. Duis posuere ullamcorper felis et viverra. Praesent ut orci sodales, tempus mauris vitae, posuere ipsum. Phasellus elit nibh, mollis quis interdum id, volutpat at quam. Nulla vulputate mi nec orci ultrices efficitur</p>
  </div>
  <div class="image-container">
    <img src="assets/family.jpg" style="width: 7400px; height: 440px;">
  </div>
</div>

<div style="display: flex; align-items: center;">
  <div class="image-container">
    <img src="assets/mission.jpg" style="width: 4400px; height: 440px;">
  </div>
  <div class="text">
    <h3 style="text-align: center;">Our Mission</h3>
    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
  </div>
</div>

<br>

<div style="display: flex; align-items: center;">
  <div class="text">
    <h3 style="text-align: center;">Our Vision</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu sem vel turpis interdum efficitur et eget libero. Cras vitae velit ligula. Quisque nec lacus enim. Proin velit arcu, tincidunt vitae ultrices a, interdum sed justo. Duis arcu augue, dignissim id mauris at, euismod elementum turpis. Nulla nec nulla tincidunt, imperdiet purus sit amet, lobortis massa. Nullam ac mi et lacus aliquam semper eu quis felis. Integer aliquam ut quam sed consequat. Mauris dignissim pharetra justo, at cursus arcu. Cras odio metus, malesuada elementum lacinia id, tristique eu lorem.

    Curabitur eros quam, porta eget viverra a, finibus quis risus. Vestibulum rutrum congue quam. Donec pellentesque tortor nulla, eu hendrerit quam sagittis imperdiet. Fusce congue euismod lacus, at semper metus dapibus sed. Nam vel neque tristique, auctor est nec, posuere diam. Cras faucibus risus eu diam pretium, pretium pharetra nisi rhoncus. Ut mattis ut metus in cursus. Duis tortor sem, fringilla nec felis in, suscipit mollis mauris. Proin laoreet, neque ut vulputate lacinia, est libero finibus quam, nec pharetra nibh neque id eros. Maecenas rutrum blandit velit ac rutrum. Curabitur at tortor id neque fringilla mattis id a risus. Curabitur fringilla arcu ut rhoncus dapibus. Curabitur pretium, risus quis dapibus fringilla, nibh mauris sollicitudin tortor, vitae vulputate mauris erat a tellus.</p>
  </div>
  <div class="image-container">
    <img src="assets/value.jpg" style="width: 4400px; height: 440px;">
  </div>
</div>

<br>
<br>

<section id="newsletter-signup">
  <div class="newsletter-box">
    <h2>Sign Up for Our Newsletter</h2>
    <%= form_with(url: '/subscribe', method: 'post') do |f| %>
      <div class="form-group">
        <div class="input-wrapper">
          <input type="text" placeholder="First Name">
          <input type="text" placeholder="Last Name">
          <input type="text" placeholder="Email">
        <%= f.submit 'Sign Up', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</section>