<h1>About</h1>

<body>
<p>Pearls Of Hope</p>

<h2>Our mission statement</h2>

<p> our mission statement is to help the youth in the Fridley area 
and give them a place to call home. </p>

<img src="https://qarabic.com/wp-content/uploads/2022/01/Learn-how-to-raise-kids-in-Islam.jpg">
</body>