<main class="about-page">
<img src="https://qarabic.com/wp-content/uploads/2022/01/Learn-how-to-raise-kids-in-Islam.jpg">
    <section id="what-we-do">
      <h2>What We Do</h2>
      <p>Pearls of Hope Community Center is a safe space to engage in religious...</p>
    </section>

    <section id="our-mission">
      <h2>Our Mission</h2>
      <p>Our mission is to mentor the leaders of tomorrow using religious education...</p>
    </section>

    <section id="our-vision">
      <h2>Our Vision</h2>
      <p>That youth who come through our program leave a more knowledgeable Muslim...</p>
    </section>

    <section id="our-story">
      <h2>Our Story</h2>
      <p>Pearls of Hope was established in late 2009 by our Founder, sister Danyal Masoud...</p>
      <!-- More content here -->
    </section>
  </main>





