/* General Styles */
body {
    font-family: 'Dancing Script'; /* Change to Dancing Script font */
    margin: 0;
    padding: 0;
    color:  #333; /* Change text color */
}

.banner{
    margin-top: 15px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Image Styles */
img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
   
}

/* Section Styles */
.section {
    margin-bottom: 50px;
}

/* Text Container Styles */
.box {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin: 15px;
}

.text {
    flex: 1;
    padding: 0 20px; /* Add padding */
}

.text h3 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    font-family: 'Dancing Script'; /* Change to Dancing Script font */
    font-size: 45px;
    
}

.text p {
    font-size: 1.1em;
    line-height: 1.6;
}

/* Newsletter Signup Section Styles */
#newsletter-signup {
    text-align: center;
    margin-top: 50px;
}

.newsletter-box {
    background-color: #f8f8f8;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.newsletter-box h2 {
    font-family: 'Dancing Script'; /* Change to Dancing Script font */
    font-size: 2em;
    margin-bottom: 20px;
    margin: 15px;
}

.form-group {
    margin-bottom: 20px;
}

/* Image Container Styles */
.image-container {
    width: 50%;
    flex-shrink: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center align images horizontally */
}

.image-container2 {
    width: 50%;
    flex-shrink: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center align images horizontally */
}


.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Text Container Styles */
.text-container {
    width: 50%;
    padding: 0 20px;
    display: flex;
    align-items: center; /* Align text vertically */
    justify-content: center; /* Center align text horizontally */
}


.staff {
    text-align: center;
    font-family: 'Dancing Script'; /* Change to Dancing Script font */
    font-size: 45px;
    padding: 15px;
}


.aboutUstext-1{
    max-width: 470px;

}

