
  
  .container-about-us{
    display: flex;
    flex-direction: column;
}
.item-about-us{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.item-about-us img {
    max-width: 50%;
    margin-right: 20px;
}
.item-about-us p {
 padding: 10px;
}
@media (max-width: 768px) {
    .item-about-us img {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

#about h2{
  display: flex;
    justify-content: center;
}