
  
  .container-about-us{
    display: flex;
    flex-direction: column;
}
.item-about-us{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;

}
.item-about-us img {
    max-width: 50%;
    margin-right: 20px;
    padding-left: 40px;
}
.item-about-us p {
 padding: 10px;
}
@media (max-width: 768px) {
    .item-about-us img {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

#about h2{
  display: flex;
    justify-content: center;
}

#newsletter-signup {
  text-align: center;
  padding: 50px 0;
}

.newsletter-box {
  background-color: #fff;
  color: #613894;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.newsletter-box h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the alpha value for transparency */
}

.caption {
  font-family: 'Dancing Script';

  padding: var(--lx-space-01);
  position: absolute;
  bottom: 50%;
  width: 40%;
  text-align: left;
  font-size: 5vw;
  transition: transform 0.3s ease-in-out;  
  color: #ffffff;


  span.highlighted-caption{
    color:#007bff;
  }
  h3 {
    color: #ffffff; /* Set the color for the h3 text */
    font-size: 3vw; /* Adjust the font size as needed */
    margin-top: 10px; /* Add space between h2 and h3 */
  }
}

.overlay {
  position: relative;
}

.overlay:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: 1;
  pointer-events: none; /* Ensures clicks go through to the underlying elements */
}

h2{
  font-size: 60px;
}


#about-content{
  font-size: 60px;

}


.instagram-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  width:100%;
}

.instagram-media {
  display: block; /* Ensure it's displayed as a block element */
}