body {
  font-family: 'Roboto', sans-serif;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.text-center {
  text-align: center;
}

.btn {
  display: block;
  margin: 30px auto; /* Center horizontally */
  max-width: 200px; /* Set maximum width */
  background-color: #3498db;
  color: #fff;
  border: none;
  text-decoration: none;
  padding: 12px 24px; /* Adjust padding */
  border-radius: 8px; /* Add border radius */
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #2980b9;
}

.program-details {
  max-width: 600px;
  margin: 40px auto; /* Center horizontally and add spacing from top */
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Add padding */
}

.program-detail {
  padding: 10px; /* Adjust padding */
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 10px; /* Add margin bottom for spacing */
}

.lead {
  padding: 16px;
}

h1.title {
  font-family: "Dancing Script", cursive;
font-weight: bolder;
  padding: 20px 0; /* Adjust padding */
  text-align: center;
  font-size: 2.5rem; /* Adjust font size */
  color: rgb(102, 53, 108);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.program-details,
.program-image {
  min-width: 600px; /* Set the minimum width to 600 pixels */
  max-width: 600px; /* Set the maximum width to 600 pixels */
  height: auto; /* Let the height adjust based on content */
  display: flex;
  flex-direction: column; /* Display items vertically */
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Hide any content that exceeds the container */
}

.program-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  margin-top: 20px;
}

.program-card {
  width: calc(33.33% - 20px); /* Adjust width to fit 3 cards per row with some margin */
  margin-bottom: 20px; /* Adjust margin as needed */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  border: 1px solid #ddd; /* Add border for each card */
  border-radius: 8px; /* Add border radius for rounded corners */
  overflow: hidden; /* Hide any content that overflows the card */
  padding: 20px; /* Add padding to the card */
}

