<h1> SELECT A PRODUCT </h1>


<section>
  <% @products.each do |product| %>
    <article id="<%= product.product_name.parameterize %>" class="product-card">
    <h3><%= product.product_name %></h3>
    <h3><%= product.product_name %></h3>

    </article>
  <% end %>
</section>