<!-- app/views/layouts/_footer.html.erb -->
<footer class="footer">
    <div>
        <p><a href="https://www.instagram.com/pearlsofhopemn/?hl=en">Instagram</a></p>
        <p><a href="https://www.facebook.com/PearlsofHopeMN/">Facebook</a></p>
        <p><a href="https://www.youtube.com/@pearlsofhopecenter">Youtube</a></p>
   
    </div>
    
  <div class="footer-content">
    <h2>Pearls of Hope Community Center</h2>
    <address>
      6565 Oakley Drive<br>
      Fridley, Minnesota 55432
    </address>
    <p>Phone: <a href="tel:+19526887554">952-688-7554</a></p>
    <p>Email: <a href="mailto:pearlsofhopecenter@gmail.com">pearlsofhopecenter@gmail.com</a></p>
  </div>
  <p class="copy-right">Copyright &copy; <%= Time.now.year %> Pearls of Hope</p>
</footer>
