<div>

<nav> 
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa-solid fa-bars"></i>
    </label>
    <label class="logo">Placeholder</label>

    <ul>
        <li class="active">Home</li>
        <li>About</li>
        <li>Programs</li>
        <li>Volunteer</li>
        <li>Calendar</li>
        <li class="sign-in">Sign-in</li>
        <li id="cart">Cart <i class="fa-solid fa-cart-shopping icon"></i></li>
        <button class="donate-button">Donate</button>
    </ul>

</nav>

</div>

